{% extends 'insurance/index.html' %}

{% block policyCreate %}
<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">Issue Policy</h5>
    <hr/>
    <form action='/insurance/add' method='POST'>
      {% csrf_token %}
      <div class="mb-3">
        <label for="CustomerID" class="form-label">Customer ID</label>
        <input
          type="number"
          class="form-control"
          name="CustomerID"
        />
      </div>
      <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>
</div>
  {% endblock %}