{% extends 'insurance/index.html' %}

{% block policyCreate %}
<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">Issue Policy</h5>
    <hr/>
    <form class="needs-validation" novalidate action='/insurance/add' method='POST'>
      {% csrf_token %}
      <div class="mb-3">
        <label for="CustomerID" class="form-label">Customer ID</label>
        <input
          type="number"
          class="form-control"
          name="CustomerID"
          required
        />
        <div class="invalid-feedback">
          Please Customer ID.
        </div>
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
</div>
  {% endblock %}