{% extends 'insurance/index.html' %}

{% block policyDelete %} 
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Delete Policy</h5>
      <hr />
      <form>
        <div class="mb-3">
          <label for="PolicyID" class="form-label">Policy ID</label>
          <input
            type="number"
            class="form-control"
            id="PolicyID"
            aria-describedby="PolicyID"
          />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}