{% extends 'insurance/index.html' %}

{% block policyEdit %} 
<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">Edit Policy</h5>
    <hr />
    <form class="needs-validation" novalidate action='/insurance/edit' method='GET'>
      <div class="mb-3">
        <label for="policy_id" class="form-label">Policy ID</label>
        <input
          type="number"
          class="form-control"
          name="policy_id"
          required
        />
        <div class="invalid-feedback">
          Please choose a Policy.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Show</button>
    </form>
    {% if error %}
        <hr />
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
    {% else %}
    {% if success %}
    <form action='/insurance/edit' method='POST'>
      {% csrf_token %}

      <div class="mb-3">
        <label for="policy_id" class="form-label">Policy ID</label>
        <input
        value="{{success.policy_id}}"
          readonly 
          type="number"
          class="form-control"
          name="policy_id"
        />
      </div>
      <div class="mb-3">
        <label for="customerID" class="form-label">Customer ID</label>
        <input
        readonly value="{{success.customer_id.customer_id}}"
          type="number"
          class="form-control"
          name="customerID"
        />
      </div>
      <div class="mb-3">
        <label for="engine_number" class="form-label">Engine number</label>
        <input
        readonly value="{{success.engine_number.engine_number}}"
          type="number"
          class="form-control"
          name="engine_number"
        />
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="price" class="form-label">price</label>
          <input type value="{{success.price}}"="number" class="form-control" name="price" />
        </div>
        <div class="col-md-4">
          <label for="status" class="form-label">Status</label>
          <select  name="status" class="form-select">
            <option>Active</option>
            <option>To be activated</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="start" class="form-label">Start Date</label>
          <input value="{{success.start_date}}" type="date" class="form-control" name="start" />
        </div>
        <div class="col-md-6">
          <label for="finish" class="form-label">End Date</label>
          <input value="{{success.end_date}}" type="date" class="form-control" name="finish" />
        </div>
        <div class="col-md-4">
          <label for="type" class="form-label">Type</label>
          <select name="type" class="form-select">
            <option {% if success.type == "type1" %}selected{% endif %}>type1</option>
            <option  {% if success.type == "type2" %}selected{% endif %}>type2</option>
            <option  {% if success.type == "type3" %}selected{% endif %}>type3</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-warning">Edit</button>
    </form>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}