{% extends 'insurance/index.html' %}

{% block policyGet %}
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Get Policy</h5>
      <hr />
      <form action='/insurance/get' method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="PolicyID" class="form-label">Policy ID</label>
          <input
            type="number"
            class="form-control"
            name="PolicyID"
          />
        </div>
        <button type="submit" class="btn btn-primary">Show</button>
      </form>
      <hr />
      <!-- show data -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Policy ID</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">1</th>
            <th scope="col">{{success.policy_id}}</th>
            <th scope="col">{{success.price}}</th>
            <th scope="col">{{success.status}}</th>
            <th scope="col">{{success.start_date}}</th>
            <th scope="col">{{success.end_date}}</th>
            <th scope="col">{{success.type}}</th>
          </tr>
        </tbody>
    </div>
  </div>
{% endblock %}