{% extends 'base.html' %}

{% block content %}
<div class="col-lg-3 mb-4">
  <div class="card text-center">
    <div class="card-header fw-bold">Navigation Panel</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/insurance/add">Issue Policy</a>
      </li>
      <li class="list-group-item">
        <a href="/insurance/get">Get Policy</a>
      </li>
      <li class="list-group-item">
        <a href="/insurance/edit">Edit Policy</a>
      </li>
      <li class="list-group-item">
        <a href="/insurance/delete">Delete Policy</a>
      </li>
      <li class="list-group-item">
        <a href="/insurance/list">List of Polies</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-9">
  <!-- CREATE -->
  {% block policyCreate %}
  {% endblock %}
  <!-- GET -->
  {% block policyGet %}
  {% endblock %}
  <!-- EDIT -->
  {% block policyEdit %} 
  {% endblock %}
  <!-- DELETE -->
  {% block policyDelete %} 
  {% endblock %}
  <!-- LIST -->
  {% block policieslist %}
  {% endblock %}


{% endblock %}
