{% extends 'car/index.html' %}
{% block carDelete %} 
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Delete Car</h5>
      <hr />
      <form action='/car/delete' method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="engine_number" class="form-label">Engine Number</label>
          <input
            type="number"
            class="form-control"
            name="engine_number"
          />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}