{% extends 'car/index.html' %}

{% block carEdit %} 
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Edit Car</h5>
      <hr />
      <form class="needs-validation" novalidate action="/car/edit" method='GET'>
        <div class="col-md-12 mb-3">
          <label for="engine_number" class="form-label" >Engine Number</label>
          <input type="number" class="form-control" name="engine_number" required/>
          <div class="invalid-feedback">
            Please choose a Car.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Show</button>
      </form>
      {% if error %}
        <hr />
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% else %}
      {% if success %}
      <hr>
      <form action='/car/edit' method='POST'>
        {% csrf_token %}
        <div class="col-md-12 mb-3">
          <label for="engineNum" class="form-label">Engine Number</label>
          <input value="{{success.engine_number}}" type="number" class="form-control" name="engineNum" readonly />
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="model" class="form-label">Model</label>
            <input
              type="text"
              class="form-control"
              name="model"
              value="{{success.model}}"
            />
          </div>
          <div class="col-md-6">
            <label for="yearOfManufacture" class="form-label">Year of Manufacture</label>
            <input required type="date" class="form-control" name="yearOfManufacture" value="{{success.manufacture_year  |date:"Y-m-d"}}"/>
          </div>
        </div>
        
        <button type="submit" class="btn btn-success">Create</button>
      </form>
      {% endif %}
      {% endif %}
      
    </div>
  </div>

{% endblock %}