{% extends 'car/index.html' %}

{% block carGet %}
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Get Car</h5>
      <hr />
      <form class="needs-validation" novalidate action='/car/get' method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="engine_number" class="form-label">Engine Number</label>
          <input
            type="number"
            class="form-control"
            name="engine_number"
            required
          />
          <div class="invalid-feedback">
            Please choose a Car.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Get</button>
      </form>
      <!-- show data -->
      {% if error %}
        <hr />
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% else %}
      {% if success %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Engine Number</th>
            <th scope="col">Model</th>
            <th scope="col">Year of Manufacture</th>
          </tr>
          </tr>
        </thead>
        <tbody>
          {% for result in success %}
          <tr>
            <th scope="col">{{forloop.counter}}</th>
            <th scope="col">{{result.engine_number}}</th>
            <th scope="col">{{result.model}}</th>
            <th scope="col">{{result.manufacture_year}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}