{% extends 'Customer/index.html' %}

{% block customerEdit %} 
<div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Edit Customer</h5>
      <hr />
      <form class="needs-validation" novalidate method='GET'>
        <div class="mb-3">
          <label for="CustomerID" class="form-label">Customer ID</label>
          <input
            type="number"
            class="form-control"
            name="CustomerID"
            id="CustomerID"
            required
          />
          <div class="invalid-feedback">
            Please choose a Customer.
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Get Customer</button>
        </div>
      </form>
      {% if error %}
        <hr />
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% else %}
      {% if success %}
      <hr>
      <form class="needs-validation" novalidate action="/customer/edit" method='POST'>
        {% csrf_token %}
        <div class="col-md-12 mb-3">
          <label for="CustomerID" class="form-label">Customer ID</label>
          <input value="{{success.customer_id}}" type="number" class="form-control" name="CustomerID" readonly />
        </div>
        <div class="col-md-12 mb-3">
          <label for="email" class="form-label">Email *</label>
          <input value="{{success.email}}" type="email" class="form-control" name="email" required />
          <div class="invalid-feedback">
            Please Enter Customer's Email.
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input value="{{success.customer_name}}" type="text" class="form-control" name="name" required />
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label"
              >Phone number *</label
            >
            <input required value="{{success.phone}}" type="number" class="form-control" name="phone" />
            <div class="invalid-feedback">
              Please Enter Phone Number.
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="address" class="form-label">Address</label>
          <input value="{{success.address}}" type="text" class="form-control" name="address" />
        </div>
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
      {% endif %}
      {% endif %}
      
    </div>
  </div>

{% endblock %}