{% extends 'base.html' %}
{% block content %}
<div class="col-lg-3 mb-4">
  <div class="card text-center">
    <div class="card-header fw-bold">Navigation Panel</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action">
        <a href="/customer/add">Create Customer</a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="/customer/get">Get Customer</a>
      </li>
      <li class="list-group-item list-group-item-action">
        <a href="/customer/edit">Edit Customer</a>
      </li>
      <!-- <li class="list-group-item list-group-item-action">
        <a href="/customer/editProfile">Edit Customer Profile</a>
      </li> -->
      <li class="list-group-item list-group-item-action">
        <a href="/customer/list">List of Customers</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-9">
  <!-- CREATE -->
  {% block customerCreate %}
  {% endblock %}
  <!-- GET -->
  {% block customerGet %}
  {% endblock %}
  <!-- EDIT -->
  {% block customerEdit %}
  {% endblock %}
  <!-- EDIT PROFILE -->
  {% block customerDelete %}
  {% endblock %}
  <!-- list -->
  {% block customerlist %}
  {% endblock %}
</div>
{% endblock %}